<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Employee invoices</ion-title>
    <ion-buttons slot="end">
      <ion-button id="logOutBt" href="/tabs/tab1">
        <ion-icon color="dark" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card id="orderCon" *ngFor="let orders$ of orderByMonth$; let userIndex = index">
    <!-- <ion-row class="ion-justify-content-center ion-align-items-center"><h4 >Username: </h4></ion-row> -->
    <ion-accordion-group>
      <ng-container *ngIf="orders$ | async as ordersByMonth">
        <ion-accordion *ngFor="let group of ordersByMonth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              <h4><strong> Employee: {{ group.username }}</strong> </h4>
            </ion-label>
            <ion-label>
              <h4><strong>{{ group.month }}</strong> - R {{ group.total.toFixed(2) }} </h4>
            </ion-label>
          </ion-item>
          <ion-card-content slot="content">
            <ion-card *ngFor="let order of group.orders">
              <ion-card-header>
                <ion-card-title><strong>Order:</strong> #{{ order.orderId.substring(0, 6) }}</ion-card-title>
                <ion-card-title><strong>Date:</strong> {{ order.date | date: 'medium' }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="inset">
                  <ion-card-subtitle>Items:</ion-card-subtitle>
                  <ion-item *ngFor="let product of order.products">
                    <ion-label>
                      {{ product.productName }} (x{{ product.quantity }})
                      <br>
                      R {{ product.productPrice.toFixed(2) }}
                    </ion-label>
                  </ion-item>
                </ion-list>
                <ion-grid id="totalGrid">
                  <ion-row class="ion-justify-content-end ion-align-items-end">
                    <ion-label id="totalLabel">
                      Total: <strong>R {{ order.total.toFixed(2) }}</strong>
                    </ion-label>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="group.orders.length === 0">
              <ion-card-content>
                No snacking for this month. Amazing :)
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
  </ion-card>
</ion-content>




