<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Snacks at 360</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signout()" id="logOutBt">
        <ion-icon color="dark" slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid id="greetingGrid">
    <ion-row>
      <h1>Hello there!</h1> <br>
    </ion-row>
    <ion-row><h5>Check out our new app for the tuckshop. </h5></ion-row>
  </ion-grid>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <h4>Available snacks this week</h4>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" size-lg="4" *ngFor="let product of products">
        <ion-card>
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{ product.name }}</ion-label> <br>
            <ion-label>Price: <strong>R{{ product.price }}</strong></ion-label>
            <ion-item>
              <!-- <ion-label>{{ product.quantity }} units available</ion-label> -->
              <!-- <ion-input type="number" [(ngModel)]="cart[product.id]" min="1"></ion-input> -->
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-button size="medium" shape="round" id="cartBtn" expand="full" (click)="addToCart(product, cart[product.id] || 1)">
                  <ion-icon slot="icon-only" name="cart"></ion-icon>
                </ion-button>
              </ion-col>
              <!-- <ion-col>
                <ion-button shape="round" id="cartBtn" expand="full" >
                  <ion-icon slot="icon-only" name="heart"></ion-icon>
                </ion-button>
              </ion-col> -->
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button shape="round" id="addProductBtn" href="/add-product">
    <ion-icon id="addIcon" slot="icon-only" name="add"></ion-icon>
  </ion-button> -->

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <h6>If you have any suggestions/feedback regarding the snack options or the mobile app itself, please feel free to give us a shout.</h6>
  </ion-row>

<ion-content class="ion-padding">
  <!-- <ion-button expand="block" (click)="setOpen(true)">Open</ion-button> -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>snacks at 360</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Welcome to our new mobile app, Snacks at 360.
          You can use it to buy items from the tuckshop, so that means no more jotting down in cursive and tallies.
          Sounds great, right? It's a very simple app, not rocket science.
        </p> <br>

        <p>The app is still under development, so further updates will include:</p>

        <ul>
          <li>Adding your username when signing up</li>
          <li>Setting a monthly limit for your account</li>
          <li>Making snack suggestions to the admin</li>
          <li>Viewing the top 10 monthly customers of the tuckshop <strong>(Yes, we wanna expose your financial choices)</strong>.</li>
        </ul>
        <p>Please feel free to give us any suggested features that you'd like to see on the app.</p> <br>
          <p style="text-align: center;">Send our developer an email at gontse&#64;adignite.co.za or simply visit us at the Ad Ignite office :).</p>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

</ion-content>
