<h3>Snacks at 360</h3>
<p>Welcome to our new mobile app, Snacks at 360.
   You can use it to buy items from the tuckshop, so that means no more jotting down in cursive and tallies.
   Sounds great, right? It's a very simple app, not rocket science.</p>
<p>Also, the app is still under development; upcoming updates will include:</p>
<ul>
  <li>Displaying order total for each month</li>
  <li>Adding your username when signing up</li>
  <li>Setting a monthly limit for your account</li>
  <li>Making snack suggestions to the admin</li>
  <li>Viewing the top 10 monthly customers of the tuckshop (Yes, we wanna expose your financial choices)</li>
</ul>
<p>Please feel free to give us any suggested features that you'd like to see on the app.
   Send our developer an email at gontse&#64;adignite.co.za or simply visit us at the Ad Ignite office :.</p>



